mi_salida
corp/
.nfs000000000055675200000002
all_files.txt
*.pyc
pages/
*.swp
logs/
filtered_logs/
graph/
out
last_queue*
timeouts/
descargas/
pages2/
figures/*
*.mm
*.mm.index
my_model
my_env/*
gensim*
*.dict
CO/*
QS/*
